.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #14ff4f;
    padding: 5px 20px;
    color: white;
    align-items: center;
  }
   
  .logo {
    font-size: 22px;
    font-weight: bold;
    color: #000;
  }
   
  .nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
  }
   
  .nav-links a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  }
  .nav-links a:hover{
    color: #f65340;
}

  .login-button {
    padding: 10px 18px;
    background-color: #f65340;  /* Same as Sign Up */
    color: white;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    margin-top: -9px;
  }
   
  .login-button:hover {
    background-color: #0d0d1f;
  }