<nav class ="navbar">
    <div class ="logo"><a [routerLink]="['/home']" style="text-decoration: none; color: inherit;">SkillQuake</a></div>
    <ul class="nav-links">
        <li><a routerLink="/">Home</a></li>
        <li><a [routerLink]="['/home']" fragment="about">About</a></li>
        <li><a [routerLink]="['/home']" fragment="categories">Categories</a></li>

        <li *ngIf="isLoginPage; else showLogin">
            <a routerLink="/register" class="login-button">Sign Up</a>
          </li>
           
          <ng-template #showLogin>
            <li>
              <a routerLink="/login" class="login-button">Login</a>
            </li>
          </ng-template>
         
          
    </ul>
    </nav>